.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.to-do-list{
  width: 30%;
  background-color: rgba(0, 0, 0, 0.216);
}